pycodestyle==2.3.0
flake8
flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
mock
pep8-naming
pyenchant
pylint
pytest
pytest-cov