name: Test colcon-bundle (latest release) bundling navigation
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 * * * *'
jobs:
  bundle:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-xenial-ros-kinetic-desktop
    steps:
      # TODO(setup-ros-docker#7): calling chown is necessary for now
      - run: sudo chown -R rosbuild:rosbuild "$HOME" .
      - uses: ros-tooling/action-ros-ci@0.0.19
        id: action-ros-navigation
        with:
          package-name: navigation
          target-ros1-distro: kinetic
          vcs-repo-file-url: "https://raw.githubusercontent.com/colcon/colcon-bundle/b90af91ddee43508c1f0c099fe3d33ea07acb4a4/.github/workflows/test_bundle.repos"
      - uses: actions/setup-python@v1
        with:
          python-version: 3.5
      - name: Install colcon-bundle dependencies
        run: |
          sudo apt update
          pip install -U setuptools==44.0.0
          sudo pip3 install colcon-ros-bundle
      - name: Run colcon bundle
        run: |
          cd "${{ steps.action-ros-navigation.outputs.ros-workspace-directory-name }}"
          colcon bundle
